body {
  text-align: center;
  background-repeat: no-repeat;
  height: 100%;
}
.Center {
  display: flex;
  justify-content: center;
}
.word {
  background-color: rgb(177, 10, 43);
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}

button {
  padding: 10px;
  background-color: rgb(177, 10, 43);
  color: white;
  padding-top: 15px;
  width: 10%;
  margin-top: 20px;
}
.boxStyle {
  width: 25%;
  height: 25%;
  border: 2px;
  margin: 1px;
  margin-top: 40px;
  border-radius: 40%;
}
.win {
  color: white;
  font-weight: 900;
  font-variant: small-caps;
  font-size: 50px;
}
